@model WebsiteBanDoGiaDung.Models.MSlider

@{
    ViewBag.Title = "Sửa nội dung Slider";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")

@Html.AntiForgeryToken()

<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="submit" class="btn btn-primary btn-sm" onclick="update();">
                                <i class="fas fa-save"></i>&nbsp; Save
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Slider" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Created_at)
                            @Html.HiddenFor(model => model.Created_by)
                            @*@Html.HiddenFor(model => model.Image)*@
                            <span style="display:none" id="session">@HttpContext.Current.Session["Admin_ID"].ToString()</span>
                            <div class="form-group">
                                @Html.Label("Tên Slider", htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label" })
                                <div class="">
                                    @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "control-label", accept = "image/*" })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                </div>
                                <img src="~/Public/images/sliders/@Model.Image" alt="@Model.Name" class="d-block my-2" />
                            </div>
                            <div class="form-group">
                                @Html.Label("Vị trí hiển thị", htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.DropDownListFor(model => model.Position, new[] { new SelectListItem { Value = "1", Text = "SlideShow" }, new SelectListItem { Value = "2", Text = "RightSlideShow" } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Value = "1", Text = "Hiển thị" }, new SelectListItem { Value = "2", Text = "Không hiển thị" } }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function update() {
        // thu thập dữ liệu trên form đưa vào FormData
        var fd = new FormData();
        var file = $('#Image').prop('files')[0];
        fd.append("Name", $("#Name").val());
        fd.append("Position", $("#Position").val());
        fd.append("Status", $("#Status").val());
        fd.append("CreatedBy", $("#session").text());
        fd.append("FileImage", file);
        
        var Url = "https://localhost:7005/api/Sliders/id?ID=" + $("#ID").val().trim();
        $.ajax({
            url: Url,
            method: 'PUT',
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response);
                alert("Edit Successfully Slider Name: " + $("#Name").val());
                window.location.replace("https://localhost:44357/Admin/Slider/Index");
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    }
</script>